<!DOCTYPE html>
<html lang="en-US">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

<div ng-app="myApp" ng-controller="namesCtrl">

	<ul>
		<li ng-repeat="x in names | orderBy:'country'"">
			{{ x.name + ', ' + x.country }}
		</li>
	</ul>

	<ul>
		<!-- Return entries only containing an 'i' -->
		<li ng-repeat="x in names | filter : 'i'">
			{{ x.name + ', ' + x.country }}
		</li>
	</ul>

	<p><input type="text" ng-model="test"></p>
	<ul>
		<!-- Return entries only containing an 'i' -->
		<li ng-repeat="x in names | filter : test">
			{{ x.name + ', ' + x.country }}
		</li>
	</ul>

	<table border="1" width="50%">
		<tr>
			<th ng-click="orderByMe('name')">Name</th>
			<th ng-click="orderByMe('country')">Country</th>
		</tr>
		<tr ng-repeat="x in names | orderBy : myOrderBy">
			<td>{{x.name}}</td>
			<td>{{x.country}}</td>
		</tr>
	</table>

</div>

<script>

	angular.module('myApp', []).controller('namesCtrl', function($scope){
		$scope.names = [
			{name:'Jani',country:'Norway'},
			{name:'Hege',country:'Sweden'},
			{name:'Kai',country:'Denmark'}
		];
		$scope.orderByMe = function(x){
			$scope.myOrderBy = x;
		}
	});

</script>

</body>
</html>