<!DOCTYPE html>
<html lang="en-US">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

<!-- 
	The ng-controller directive defines the application controller.
	A controller is a JavaScript Object, created by a standard JavaScript object constructor.
-->

<!--<div ng-app="myApp" ng-controller="personCtrl">
	<div ng-controller="personCtrl">
		First Name: <input type="text" ng-model="firstName"><br>
		Last Name: <input type="text" ng-model="lastName"><br><br>
		Full Name: {{fullName()}}
	</div>
</div>

<div ng-app="myApp" ng-controller="namesCtrl">
	<ul>
		<li ng-repeat="x in names">
			{{ x.name + ', ' + x.country }}
		</li>
	</ul>
</div>-->

<div ng-app="myApp" ng-controller="bothCtrl">
	First Name: <input type="text" ng-model="firstName"><br>
	Last Name: <input type="text" ng-model="lastName"><br><br>
	Full Name: {{fullName()}}

	<ul>
		<li ng-repeat="x in names">
			{{ x.name + ', ' + x.country }}
		</li>
	</ul>
</div>

<script>

	// Can only have one 'Module' of Angular on the page
	// Let's rewrite this so both scopes are included in a singular controller?
	/*var app = angular.module('myApp', []);
	app.controller('personCtrl', function($scope){
	    $scope.firstName = "John";
	    $scope.lastName = "Doe";
	    $scope.fullName = function(){
	    	return $scope.firstName + " " + $scope.lastName;
	    };
	});

	angular.module('myApp2', []).controller('namesCtrl', function($scope){
		$scope.names = [
			{name:'Jani',country:'Norway'},
			{name:'Hege',country:'Sweden'},
			{name:'Kai',country:'Denmark'}
		];
	});*/

	angular.module('myApp', []).controller('bothCtrl', function($scope){
	    $scope.firstName = "John";
	    $scope.lastName = "Doe";
	    $scope.fullName = function(){
	    	return $scope.firstName + " " + $scope.lastName;
	    };
		$scope.names = [
			{name:'Jani',country:'Norway'},
			{name:'Hege',country:'Sweden'},
			{name:'Kai',country:'Denmark'}
		];
	});

</script>

</body>
</html>